# Week 1 - ```for``` loops

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [1]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [2]:
##call the temporary variable
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [3]:
## name dog lucy
my_dog = "lucy"

In [5]:
my_dog.upper()

'LUCY'

In [ ]:
## upper case the previous variable 
## you can target an individual item

In [6]:
## upper case and print each animal in our list
## this will break
fav_animals.upper()

AttributeError: 'list' object has no attribute 'upper'

In [8]:
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [10]:
fav_animals[1].upper()

'DOGS'

In [14]:
## use a for loop to upper case each animal and print it

for fav_animal in fav_animals:
    print(fav_animal)
    print(fav_animal.upper())

cats
HORSES
dogs
HORSES
birds
HORSES
snakes
HORSES
horses
HORSES

In [15]:
fav_animal

'horses'

In [16]:
## did our list change? Call the fav_animals list
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [18]:
## We save our iterated data by adding to an empty list
upper_animals = [] ## intializing an empty list

for animal in fav_animals:
    upper_cased = animal.upper()
    print(upper_cased)
    upper_animals.append(upper_cased)

CATS
DOGS
BIRDS
SNAKES
HORSES

In [26]:
upper_animals = []
for animal in fav_animals:
    upper_animals.append(animal.upper())

In [27]:
upper_animals

['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']

```for loops``` <a href="https://docs.google.com/presentation/d/1ZsrzpQHTXK35pd3io8rwQUX10rBHf1T9iYz_SaqbhQo/edit?usp=sharing">slides</a>

Let's take **For Loops** for test drive:

In [29]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [30]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."
for ceo_salary in ceo_salaries_1985:
    print(f"A ceo earning {ceo_salary} in 1985")

A ceo earning 150000 in 1985
A ceo earning 201000 in 1985
A ceo earning 110000 in 1985
A ceo earning 75000 in 1985
A ceo earning 92000 in 1985
A ceo earning 55000 in 1985

In [35]:
## Now update each salary to 2023 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2023 CPI is 306.746
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting

cpi_2023 = 306.766
cpi_1985 = 107.6

ceo_salaries_2023 = []
for ceo_salary_1985 in ceo_salaries_1985:
    ceo_salary_2023 = (ceo_salary_1985/cpi_1985)* cpi_2023
    print(f"A CEO's salary of ${ceo_salary_1985:,} in 1985 is worth ${ceo_salary_2023:,.0F} in 2023 dollars.")
    ceo_salaries_2023.append(ceo_salary_2023)

A CEO's salary of $150,000 in 1985 is worth $427,648 in 2023 dollars.
A CEO's salary of $201,000 in 1985 is worth $573,048 in 2023 dollars.
A CEO's salary of $110,000 in 1985 is worth $313,608 in 2023 dollars.
A CEO's salary of $75,000 in 1985 is worth $213,824 in 2023 dollars.
A CEO's salary of $92,000 in 1985 is worth $262,291 in 2023 dollars.
A CEO's salary of $55,000 in 1985 is worth $156,804 in 2023 dollars.

In [36]:
ceo_salaries_2023

[427647.76951672864,
 573048.0111524165,
 313608.3643122677,
 213823.88475836432,
 262290.6319702603,
 156804.18215613384]

In [ ]:
## store the updated values

In [ ]:
## call updated ceo salaries