# Python Review 

Today's goal is to review how Python can efficiently complete relevant and important data journalism needs.

1. Python can do math!
2. Organizing your numbers
3. Making numbers more readable (using f-string literal formatting)
4. Built-in functions (or prefabricated code)
5. Holding data in lists
6. Holding data in dictionaries.
7. How is this relevant for data journalism?

## Python at its most basic - doing math

Here's some data:


- In 2023 NYPD officers wrote 467 summonses for jaywalking.
- Of those 154 were given to Latino residents.
- Black residents received 276.


Do the following:

1. Place each of these statistics into variables.

For each calculation, write a dynamic sentence that prints out (rounded to zero decimal places):

2. ```Latino residents received xx% of all jaywalking citations in 2023```


3. ```Black residents received xx% of all jaywalking citations in 2023```


4. ```Jaywalking citations given to Black and Latino residents totalled xx% of all the citations given to NYC residents.```

In [22]:
print(f"Latino residents received {latino_jaywalking_2023_pct:.0F} percent of all jaywalking citations in 2023")

Latino residents received 33 percent of all jaywalking citations in 2023

In [25]:
print(f"Black residents received\
 {black_jaywalking_23 / total_jaywalking_23 * 100:.0F} percent \
of all jaywalking citations in 2023")

Black residents received 59 percent of all jaywalking citations in 2023

In [1]:
## Create coding cells as needed

## assign varibles to data
latino_jaywalking_23 = 154
black_jaywalking_23 = 276
total_jaywalking_23 = 467

In [3]:
## call variables
black_jaywalking_23

276

In [5]:
## jaywalking pct for latinos 2023
latino_jaywalking_2023_pct = \
latino_jaywalking_23 / total_jaywalking_23 * 100

latino_jaywalking_2023_pct

32.97644539614561

In [6]:
## jaywalking pct for black 2023

black_jaywalking_23_pct = \
black_jaywalking_23 / total_jaywalking_23 * 100

black_jaywalking_23_pct

59.100642398286936

## Organizing your data with variables

## F-string Practice

In [8]:
## run this cell
## let's try on this big number
big_number = 2_109_346_257.103618
big_number

2109346257.103618

In [9]:
## print the variable with a preceeding dollar sign
print(big_number)

2109346257.103618

In [14]:
## print the variable now adding thousands separators
print(f"My big number is ${big_number:,}")

My big number is $2,109,346,257.103618

In [18]:
## now print rounding to 3 decimal places.
print(f"My big number is ${big_number:,.0F}")

My big number is $2,109,346,257

In [19]:
## call big_number again
big_number

2109346257.103618

Note: None of these changes are made to the actual variable. They are temporary as we print with f-strings.

## Built-in Functions

You've encountered a built-in function in ```print()```

In simplest terms (good for now), a ```built-in function``` comes as standard part of Python and carries out one or more steps on something we aim it at. What we target for the function goes inside the parenthesis. You've already used a built-in function:

```print("output something")```

I will introduce others through the course as need. There are <a href="https://docs.python.org/3/library/functions.html">dozens of built-in functions</a>, but I will be introducing the most useful ones little by little.

## Lists

Place the following values into a list:
    
- Nigeria
- Ethiopia
- Egypt
- DR Congo
- Tanzania
- South Africa

In [26]:
## create list here

some_african_countries = [
    "Nigeria",
    "Ethiopia",
    "Egypt",
    "DR Congo",
    "Tanzania",
    "South Africa"
]

In [27]:
## call your list
some_african_countries

['Nigeria', 'Ethiopia', 'Egypt', 'DR Congo', 'Tanzania', 'South Africa']

In [28]:
## print your list
print(some_african_countries)

['Nigeria', 'Ethiopia', 'Egypt', 'DR Congo', 'Tanzania', 'South Africa']

In [29]:
## check the type
type(some_african_countries)

list

### Okay...why do I need to know know about lists?

In [ ]:
## recall our African countries list

## Dictionaries

Build a dictionary called car_1 with the following info:

- brand: Honda
- type: SUV
- model: CRV
- trim: Leather
- cost: 40_000
- on_sale: True
- vin: 2973

In [30]:
## build the car_1 dictionary

car_1 = {"brand": "Honda",
        "type": "SUV",
        "model": "CRV",
        "trim": "Leather",
        "cost": 40_000,
         "on_sale": True,
         "vin": 2973
        }

In [31]:
## call car_1
car_1

{'brand': 'Honda',
 'type': 'SUV',
 'model': 'CRV',
 'trim': 'Leather',
 'cost': 40000,
 'on_sale': True,
 'vin': 2973}

In [32]:
## what car_1's datatype
type(car_1)

dict

Build me a dictionary called car_2 with the following data points.

Note: In this case the vin is first. Create it in this exact order

- vin: 8303
- brand: Honda
- type: Sedan
- model: CRV
- trim: Cloth
- cost: 35_000
- on sale: no

In [44]:
## build car_2
car_2 = {
    "vin": 8303,
    "brand": "Honda",
    "type": "Sedan",
    "model": "Accord",
    "trim": "Cloth",
    "cost": 35_000,
    "on_sale": False
}

In [45]:
## call car_2
car_2

{'vin': 8303,
 'brand': 'Honda',
 'type': 'Sedan',
 'model': 'Accord',
 'trim': 'Cloth',
 'cost': 35000,
 'on_sale': False}

### Create a list with these two dictionaries

In [46]:
## create a list called honda_cars here
honda_cars = [car_1, car_2]

In [47]:
## call this list
honda_cars

[{'brand': 'Honda',
  'type': 'SUV',
  'model': 'CRV',
  'trim': 'Leather',
  'cost': 40000,
  'on_sale': True,
  'vin': 2973},
 {'vin': 8303,
  'brand': 'Honda',
  'type': 'Sedan',
  'model': 'Accord',
  'trim': 'Cloth',
  'cost': 35000,
  'on_sale': False}]

### Okay, so what?

Why do I need to know about dictionaries?

In [48]:
import pandas as pd

In [49]:
df = pd.DataFrame(honda_cars)
df

   brand   type   model     trim   cost  on_sale   vin
0  Honda    SUV     CRV  Leather  40000     True  2973
1  Honda  Sedan  Accord    Cloth  35000    False  8303

### What are relevant journalistic uses for what we covered today?


1. Making numbers more readable (using f-string literal formatting)
2. Organizing data points after acquiring or calculating them (creating lists, dictionaries and lists of dictionaries)
3. Knowing how many such data points we have.
5. Understanding the connections between spreadsheets and Python data types