# Week 1 - ```for``` loops

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [ ]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [ ]:
##call the temporary variable

In [ ]:
## name dog lucy

In [ ]:
## upper case the previous variable 
## you can target an individual item

In [ ]:
## upper case and print each animal in our list
## this will break

In [ ]:
## use a for loop to upper case each animal and print it

In [ ]:
## did our list change? Call the fav_animals list

In [ ]:
## We save our iterated data by adding to an empty list

```for loops``` <a href="https://docs.google.com/presentation/d/1ZsrzpQHTXK35pd3io8rwQUX10rBHf1T9iYz_SaqbhQo/edit?usp=sharing">slides</a>

Let's take **For Loops** for test drive:

In [ ]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [ ]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."

In [ ]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting

In [ ]:
## store the updated values

In [ ]:
## call updated ceo salaries